<!-- views/partials/sidebar.ejs -->
<div class="sidebar">
  <h2>ホーム</h2>
  <ul>
    <li><a href="/" class="sidebar-link" data-target="home">トップページ</a></li>
  </ul>
  <h2>ジャンルから探す</h2>
  <ul>
    <li><a href="/" class="sidebar-link" data-target="coaching">コーチング支援</a></li>
    <li><a href="/" class="sidebar-link" data-target="marketing">マーケティング支援</a></li>
    <li><a href="/" class="sidebar-link" data-target="seminar">セミナー支援</a></li>
    <li><a href="/" class="sidebar-link" data-target="sns">SNS支援</a></li>
  </ul>
  <h2>その他</h2>
  <ul>
    <li><a href="/mypage.html" class="sidebar-link">マイページ</a></li>
    <li><a href="https://recurrent-edu.jp/contact/" target="_blank" class="sidebar-link">お問い合わせ</a></li>
  </ul>
</div>
